<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>brandCar</th>
        <th>model</th>
        <th>year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.brandCar}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.year}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>

